<footer class="main-footer">
    <div class="padding">
        <h2>Follow us</h2>
        <a href="https://www.instagram.com/felipe_treis/" target="_blank" rel="noreferrer noopener"><i
                class="fab fa-instagram"></i> Import Store</a>
    </div>

    <div class="padding">
        <h2>Contact us</h2>
        <a href="https://wa.me/5567993067281" target="_blank" rel="noreferrer noopener"><i class="fab fa-whatsapp"></i>
            Whatsapp</a><br>
        <a href="https://www.instagram.com/felipe_treis/" target="_blank"
            rel="noreferrer noopener"><i class="fab fa-instagram"></i>
            Direct</a>
    </div>
</footer>