<button class="button-show-menu button-show-menu-visible">
    <i class="fas fa-bars"></i>
    <span class="hidden-text">Show menu</span>
  </button>
  
  <div class="menu-container menu-hidden">
    <button class="button-close-menu button-close-menu-visible">
      <i class="fas fa-times-circle"></i>
      <span class="hidden-text">Close menu</span>
    </button>
  
    <div class="menu-content">
      <nav class="menu-nav">
        <a href="{% url 'app:home' %}"><i class="fas fa-store"></i> Home</a>
        <a href="https://wa.me/5567993067281" target="_blank" rel="noreferrer noopener"><i class="fab fa-whatsapp"></i> Whatsapp</a>
        <a href="https://www.instagram.com/felipe_treis/" target="_blank" rel="noreferrer noopener"><i class="fab fa-instagram"></i> Direct</a>
        <a href="{% url 'app:about' %}"><i class="fas fa-book"></i> About us</a>
      </nav>
    </div>
  </div>